@charset "UTF-8";

.today {
	background: #006DF0 !important;
    border-radius: 50px !important;
    color: white !important;
    font-weight: bold !important;
}

.auraC-calendar td {
	padding: 10px 5px !important;
	text-align: center !important;
}


/* ======== Calendar ======== */
/* 
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 */

/* 
.auraMC-clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.auraMC-my-calendar {
  width: 700px;
  width: 200px;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  font-weight: 800;
  border: 1px solid #ddd;
  cursor: default;
}
.auraMC-my-calendar .auraMC-clicked-date {
  border-radius: 25px;
  margin-top: 36px;
  float: left;
  width: 42%;
  padding: 46px 0 26px;
  background: #ddd;
}
.auraMC-my-calendar .auraMC-calendar-box {
  float: right;
  width: 58%;
  padding-left: 30px;
}

.auraMC-clicked-date .auraMC-cal-day {
  font-size: 24px;
}
.auraMC-clicked-date .auraMC-cal-date {
  font-size: 130px;
}

.auraMC-ctr-box {
  padding: 0 16px;
  margin-bottom: 20px;
  font-size: 20px;
}
.auraMC-ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
}
.auraMC-ctr-box .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: bold;
  font-size: 20px;
}
.auraMC-ctr-box .btn-cal.next {
  float: right;
}
.auraMC-ctr-box .btn-cal.next:after {
  content: '>';
}

.auraMC-cal-table {
  width: 100%;
}
.auraMC-cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 900;
}
.auraMC-cal-table td {
  padding: 3px 0;
  height: 50px;
  font-size: 15px;
  vertical-align: middle;
}
.auraMC-cal-table td.day {
  position: relative;
  cursor: pointer;
}
.auraMC-cal-table td.today {
  background: #ffd255;
  border-radius: 50%;
  color: #fff;
}
.auraMC-cal-table td.day-active {
  background: #ff8585;
  border-radius: 50%;
  color: #fff;
}
.auraMC-cal-table td.has-event:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}
 */